<div class="sc_body" id="ice-user-form">
    <div class="sc_title sc_body_title"><h5>个人信息</h5></div>
    <div class="fadeIn animated">
        <form method="post" class="ice-from layui-form" action="{:url('@admin/sys_user/upload')}">
            <fieldset class="layui-elem-field layui-field-title">
                <legend>用户资料</legend>
            </fieldset>
            <div class="layui-form-item">
                <label class="layui-form-label label-required">用户名</label>
                <div class="layui-input-block">
                    <input type="text" name="username" autocomplete="off" placeholder="用户名" value="{$userInfo['username']}"
                           datatype="s4-16" errormsg="用户名至少4个字符!" nullmsg="请输入用户名!" class="layui-input" />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">邮箱</label>
                <div class="layui-input-block">
                    <input type="text" name="email" autocomplete="off" placeholder="邮箱" value="{$userInfo['email']}"
                           ignore="ignore" datatype="e" errormsg="邮箱格式不正确!" nullmsg="请输入邮箱!" class="layui-input" />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">手机</label>
                <div class="layui-input-block">
                    <input type="text" name="phone" autocomplete="off" placeholder="手机" value="{$userInfo['phone']}"
                           ignore="ignore" datatype="m" errormsg="手机格式不正确!" nullmsg="请输入手机号!" class="layui-input" />
                </div>
            </div>
            <button class="layui-btn">更 新</button>
        </form>
    </div>
</div>
<script>
    var form = layui.form;
    form.render();

    IceAjax.POST($('#ice-user-form .ice-from'),function (data) {
        if (data.status == 0) {
            // 成功
            IceAlert.success(data.msg)
        } else {
            IceAlert.error(data.msg)
        }
    });
</script>