<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>支付</title>
</head>
<body>
<pre>
    这是第一种支付方式PDT
    <a href="/test/index/index2">点击</a>

    优点：快捷 方便
    缺点：必须在前端检测才行

    <img src="https://developer.paypal.com/img/docs/checkout/paypal-checkout-overview.svg" alt="">
</pre>
<script src="https://www.paypalobjects.com/api/checkout.js"></script>
<div id="paypal-button-container"></div>
<script>
    // Render the PayPal button

    paypal.Button.render({

        // Set your environment

        /**
         * 重要
         * 这里时沙箱模式,正式的需要调整
         */

        env: 'sandbox', // sandbox | production

        // Specify the style of the button

        style: {
            layout: 'horizontal',  // horizontal | vertical
            size:   'responsive',    // medium | large | responsive
            shape:  'rect',      // pill | rect
            color:  'gold'       // gold | blue | silver | black
        },

        // Specify allowed and disallowed funding sources
        //
        // Options:
        // - paypal.FUNDING.CARD
        // - paypal.FUNDING.CREDIT
        // - paypal.FUNDING.ELV

        funding: {
            allowed: [ paypal.FUNDING.CARD, paypal.FUNDING.CREDIT ],
            disallowed: [ ]
        },

        // PayPal Client IDs - replace with your own
        // Create a PayPal app: https://developer.paypal.com/developer/applications/create

        // 设置sandID
        client: {
            sandbox:    'AcEO-n5A0vS98xv9WaTBzT5CuYj3_j14-L-_lgBVFrkN8zWYkRKRbrIwhxwi1cjiV-34G39h4pVY7iV6',
            production: '<insert production client id>'
        },

        payment: function(data, actions) {
            // 点击支付
            return actions.payment.create({
                payment: {
                    transactions: [
                        {
                            amount: { total: '1', currency: 'USD' }
                        }
                    ]
                }
            });
        },

        onAuthorize: function(data, actions) {
            // 支付回调
            return actions.payment.execute().then(function() {
                window.alert('支付成功!');
            });
        }

    }, '#paypal-button-container');

</script>
</body>
</html>